<div class="demo-md-panel" layout-fill layout="column" style="background-color: #fff;">
        <div layout="column" layout-align="start end">
            <md-menu-bar>
                <md-menu>
                    <md-button aria-label="Menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                        <md-icon md-menu-origin class="material-icons">&#xE5D2;</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="login()">
                                <md-icon class="material-icons">&#xE7FD; </md-icon>
                                Login
                            </md-button>
                        </md-menu-item>
                        <md-menu-item >
                            <md-button ng-click="cadastro()">
                                <md-icon class="material-icons ">&#xE7FE; </md-icon>
                                Cadastrar
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <div class="item active banner-opportunities-item">
            <video autoplay="autoplay" class="banner-opportunities-img" height="auto" id="video-banner" preload="auto" src="http://eureca.s3.amazonaws.com/production/assets/opportunity/bannerAnimadoPlataforma-InscricoesProrrogadas-f500cc0c6aa46dcb3b73926c9a36cff6.mp4" width="auto" loop="true"></video>
        </div>
        <div class="contain" layout="column" layout-align="center center">
            <h1 class="opportunities-title">
            Super <strong>oportunidades</strong>
            </h1>
            <!--
            <div class="divslider">
                <slick class="slider multiple-items" responsive="breakpoints" dots=true infinite="true" center-mode="true" slides-to-show="3" init-onload=true data="oportunidadesAbertas">
                    <div ng-repeat="op in oportunidadesAbertas" ng-click="oportunidade(op.url)">
                        <img ng-src="{{diretorioImagens}}/oportunidades/{{op.idOp}}/{{op.capa}}" class="sliderImagens" />
                        <div class="sliderImagensTitulo">
                            <h2>{{op.nome}}</h2>
                        </div>
                    </div>
                </slick>
            </div>-->
            <form style="padding-top: 50px" name="home" layout-fill ng-init="buscarOportunidades()">
            <md-content class="md-padding" layout="row" layout-wrap >
                <div flex="50" flex-gt-md="50" flex-xs="100" flex-sm="100" layout="column" ng-repeat="op in oportunidadesAbertas">
                    <md-card class="oportunidade" ng-click="oportunidade(op.url)">
                        <img class="capa" ng-src="{{diretorioImagens}}/oportunidades/{{op.idOp}}/{{op.capa}}" />
                        <md-card-title class="titulo">
                            <md-card-title-text>
                                <span class="md-headline">{{op.nome}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content class="corpo">
                            <!--<p class="cliente">{{op.cliente}}</p>-->
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <span>De {{op.data_abertura}} a  {{op.data_encerramento}}</span>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </form>
        </div>
        <div id="rodape" style="height: 80px;">
        </div>
    </md-content>
</div>
