<md-dialog flex="70">
    <form  name="formReset" class="ng-cloak">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div flex="100" layout="column" >
                    <div class="alert" ng-class="alerta.tipo" ng-show="alerta" flex="100" layout-align="center center">
                        <span>{{alerta.mensagem}}</span>
                    </div>
                    <div class="md-accordion md-padding" layout-align="center center" layout="column">
                        <p style="font-size: 44px">Resetar senha </p>
                        <p style="font-size: 18px; margin-top: -16px;">Para resetar sua senha, informe o e-mail que você utiliza para acessar a plataforma Eureca.</p>
                        <div style="min-width: 100%;" >
                            <md-input-container class="md-block" >
                                <input required name="emailReset" style="width: 100%" ng-model="emailReset" placeholder="Informe o e-mail" type="email">
                                <div ng-messages="perfilForm.emailReset.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                        É necessário informar o e-mail.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex="100" layout="column" layout-align="center center">
                            <md-button class="md-raised md-primary btnPrincipais" style="width: 90%;" ng-disabled="formReset.$invalid" ng-click="resetarSenha(emailReset)">
                                <md-icon class="material-icons">&#xE161;</md-icon> Resetar minha senha</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
